################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/avolites-patchImport.Client/bin/Debug
/avolites-patchImport.Client/obj
